################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FLS.GLS.APIMediaTR/FileContentIndex/bc0fff74-dc53-4521-95e1-b60cf3f24099.vsidx
/.vs/FLS.GLS.APIMediaTR/FileContentIndex/bc0fff74-dc53-4521-95e1-b60cf3f24099.vsidx
